* {
	padding: 0;
	margin: 0;
}

html {
	font-size: 10px;
}

body {
	box-sizing: border-box;
	font-family: sans-serif;
}

.weather-header {
	background-image: linear-gradient(to left, rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('/static/images/weather-background.jpg');
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;

	width: 100vw;
	height: 100vh;

	color: #fff;
}

/*@media (max-width: 767px) {
	.weather-header {
		height: 740px;
	}
}*/

.weather-header h1 {
	text-transform: capitalize;
	padding: 50px 0;
	text-shadow: 2px 2px 1px black;
}

.weather-header h1,
.current-weather {
	text-align: center;
}

.weather-header h1,
.current-temp {
	font-size: 4rem;
}

@media (max-width: 767px) {
	.weather-header h1 {
		margin: 0 20px;
		font-size: 3.3rem;

	}

	.current-temp {
		font-size: 4rem;
	}
}

.current-temp {
	font-weight: bold;	
	margin-bottom: 10px;
}

.temp {
	display: flex;
	justify-content: center;
	align-items: center;
}

.temp a {
	text-decoration: none;
	color: #fff;
	font-size: 2rem;
	margin-left: 10px;
}

.time-date,
.weather-info div {
	font-size: 2rem;
}

@media (max-width: 767px) {
	.time-date {
		font-size: 1.6rem;
	}
}

.weather-info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-top: 20px;
}


.weather-info div {
	display: flex;
	justify-content: space-between;
	margin: 5px 0;
}

.weather-info p {
	margin-left: 350px;
}

.weather-info h3 {
	margin-right: 360px;
}

@media (max-width: 767px) {
	.weather-info {
		margin-top: 35px;
	}

	.weather-info div {
		margin: 10px 0;
	}

	.weather-info p {
		margin-left: 30px;
		font-size: 1.7rem;
	}

	.weather-info h3 {
		margin-right: 31px;
		font-size: 1.7rem;
	}
}

.weather-info p,
.weather-info,
.footer {
	text-transform: capitalize;
}

.footer {
	text-align: center;
	font-size: 1.5rem;

	margin-top: 50px;
}

.footer span {
	font-weight: bold;
}

@media (max-width: 767px) {
	.footer {
		margin-top: 100px;
	}
}

