<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Weather Today</title>
      
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    <section class="weather-header">
        <h1>Westlake, LA current weather</h1>    

        <div class="current-weather">
            <p class="current-temp">{{ temp }}&#176;F</p>
            <p class="time-date">{{ date }} as of: {{ time }}</p>       
        </div>

        <div class="weather-info">
            <div class="weather">
                <p>weather</p>            
                <h3>{{ weather }}</h3>
            </div>

            <div class="min-temp">
                <p>min. temp</p>
                <h3>{{ min_temp }}&#176;F</h3>
            </div>

            <div class="max-temp">
                <p>max. temp</p>
                <h3>{{ max_temp }}&#176;F</h3>
            </div>

            <div class="humidity">
                <p>humidity</p>
                <h3>{{ humid }}%</h3>
            </div>

            <div class="cloudiness">
                <p>cloudiness</p>
                <h3>{{ cloud }}</h3>
            </div>

            <div class="heat-index">
                <p>heat index</p>
                <h3>{{ heat }}</h3>
            </div>
        </div>

        <div class="footer">
            <p>all rights reserved by <span>MYAM</span>
        </div>

    </section>

    
</body>
</html>